.countries-heading {
    text-align: center;
    padding: 4rem 0 1rem 0;
    margin-top: 1rem;
    font-size: 3rem
}

.countries-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem
}

.countries-loading {
    display: block;
    margin: auto;
    font-size: 5rem;
}

.filters select {
    margin-bottom: 4rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #f4f4f4
}

.filters option {
    color: black
}

.refreshButton {
    margin-bottom: 4rem
}

@media screen and (max-width: 640px) {
    .countries-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr
    }
}