.country-card {
    background: #1a1919;
    height: 55vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country-flag {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh
}

.country-details {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country-card img {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
}

.country-title {
    color: #fff;
}

.country-details h2 {
    font-size: 1.2rem;
    text-align: center
}

.country-details p {
    font-size: 1.1rem;
    text-align: center
}

@media screen and (max-width: 640px) {
    .country-card {
        height: 55vh;
        width: 100%;
    }
    .country-card img {
        height: 30vh;
        width: 60vw;
        margin-top: 3vh;
    }
}