.details-container {
    max-width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    max-height: 100%;
    color: #eee
}

.details-loading {
    display: block;
    margin: auto;
    font-size: 5rem;
}

.btn-home {
    display: inline-block;
}

.details-container .details-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.details-container .details-card img {
    max-height: 70%;
    max-width: 70%;
}

.details-container .details-card .country-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10rem
}

.details-container .details-card h1 {
    margin: 1rem auto 1rem;
}

.details-container .details-card h3 {
    margin: 0.5rem auto 0.5rem;
}

.details-container .activity-heading {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    padding: 4rem 0 1rem 0;
}

.details-container .activity-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.details-container .activity-container .activity-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.details-container .activity-container h1 {
    margin: 1rem auto 1rem;
}

.details-container .activity-container h3 {
    margin: 0.5rem auto 0.5rem;
}
