.details-container {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    color: #eee
}

.details-loading {
    display: block;
    margin: auto;
    font-size: 5rem;
}

.btn-home {
    display: inline-block;
}

.details-container .left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
    background: #1a1919;
    padding: 1.2rem 1rem
}

.details-container .right {
    max-width: 700px;
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px
}

.details-container .left img {
    height: 100%;
    width: 100%;
}

.details-container .left h1 {
    margin: 1rem auto 1rem;
}

.details-container .left h3 {
    margin: 0.5rem auto 0.5rem;
}

.details-container .right {
    background: #1a1919;
    padding: 1.2rem 1rem
}

.details-container .right h1 {
    margin: 1rem auto 1rem;
}

.details-container .right h3 {
    margin: 0.5rem auto 0.5rem;
}