#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
    width: 90vw;
}

#details-loading {
    display: block;
    margin: auto;
    font-size: 5rem;
}

#details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #eee;
}

#details-card {
    display: flex;
    align-items: center;
    background: #1a1919;
    gap: 10vw;    
    padding: 5vh 5vw
}

#details-flag {
  display: flex;
  align-items: center;
  justify-content: center;
}

#details-flag > img {
    height: 275px;
    width: 400px;
    object-fit: cover;
}

#details-description {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-align: center;
    position: relative;
    bottom: 3vh;
    width: 30vw;
}

#activity-heading {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin: 5vh 0
}

#activity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 4rem
}

.activity-card {
    background: #1a1919;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-card > h2 {
  padding-bottom: .5rem
}

.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    margin-top: 10vh;
}

@media screen and (max-width: 600px) { 
    #details-flag > img {
        height: 180px;
        width: 260px;
    }
}

@media screen and (max-width: 800px) { 
    #details-card {
        flex-direction: column;
        background: #1a1919;
    }

    #details-description {
        font-size: 1rem;
        width: 100%;
    }

    .activity-card {
        padding: 3vh 4vw;
    }

    .btn-home {
        width: 10.5rem;
    }
}
