#footer {
	background-color: rgba(19, 19, 19, 0.8);
	min-height: 75px;
	width: 100%;    
	display: flex;
	align-items: center;
}

#footer-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	font-size: 1.2rem;
}

#footer-content > p {
	text-align: center;
}

@media screen and (max-width: 720px) {
	#footer-content {
		flex-direction: column;
	}	
}


