#footer {
	background-color: rgba(19, 19, 19, 0.8);
	min-height: 75px;
	width: 100vw;    
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap
}

#footer-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	font-size: 1.2rem;
}

