.searchbar {
    display: flex;
    flex-direction: row;
    width: 50vw;
}

.searchbar input {
    padding: auto 1rem;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #f4f4f4;
    text-align: center;
    flex: 5
}

.searchbar .btn {
    height: 100%;
}

@media screen and (max-width: 640px) {
    .searchbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }    

    .searchbar input {
        width: 80vw
    }
}